<h1>Welcome WebAPI-tutorial</h1>

<form action="api/customers" method="post">
  <h3>ユーザー情報を追加する</h3>
  <label for="na">名前</label>
  <input id="na" type="text" name="name">
  <button type="submit">登録する</button>
</form>